* {
    box-sizing: border-box;
    width: 100%;
}

body {
    background: darkgray;
    text-align: center;
    align-content: center;
}

h1 {
    color: blue;
}

ul {
    margin: 5% 5%;
    list-style-type: none;
    border: 1px solid black;
}

li {
    float: left;
    background: lightgray;
    width: 15%;
    margin: 10%;

}

img {
    width: 50%;
    height: 50%;
}
div{

}

#addForm {
    margin: 10% auto;

    width: 20%;
}

button {
    width: fit-content;
}