* {
    box-sizing: border-box;
    width: 100%;
}

body {
    background: darkgray;
    text-align: center;
    align-content: center;
}

h1 {
    color: blue;
}

ul {
    position:relative;
    margin: 5% auto;
    list-style-type: none;
    border: 1px solid black;
    height: fit-content;
}

li {
    position: relative;
    float: left;
    background: lightgray;
    width: 15%;
    margin :15px 20px;

}

img {
    width: 50%;
    height: 50%;
}
div{
    height: 100vh;
}

#addForm {
    margin: 10% auto;

    width: 20%;
}

button {
    width: fit-content;
}