<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>A List of Albums</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <h1>Album List: </h1>
        <div>
        <ul>
<!--            https://stackoverflow.com/questions/24256051/delete-or-put-methods-in-thymeleaf-->
            <li th:each="album : ${albums}" >
                <img th:src="${album.imageUrl}" alt="">
                <p>By: <span th:text="${album.artist}"></span></p>
                <p>There are <span th:text="${album.songCount}"></span> songs in this album.</p>
                <p>with a total of <span th:text="${album.lengthInSeconds}"> </span> seconds of total time of songs.</p>
                <form id="deleteForm" th:action="@{'/albums'}" th:method="delete">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="id" th:value="${album.id}">
                    <button type="submit">DELETE</button>
                </form>
                <form th:action="@{'/albums'}" th:method="put">
                    <input type="hidden" name="_method" value="put">
                    <input type="hidden" name="id" th:value="${album.id}">
                    <button type="submit">Update</button>
                </form>
            </li>
        </ul>
        </div>
        <div>
        <form id ="addForm" method="POST" action="/albums">
            <fieldset>
                <legend>Add new album.</legend>
                <h3>Title</h3>
                <input type="text" name="title">
                <h3>Artist</h3>
                <input type="text" name="artist">
                <h3>Song Count</h3>
                <input type="number" name="songCount">
                <h3>Length in Seconds</h3>
                <input type="number" name="lengthInSeconds">
                <h3>Image URL</h3>
                <input type="text" name="imageUrl">
                <button type="submit">Submit</button>
            </fieldset>
        </form>
        </div>
    </body>
</html>